@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.characters-list {
  display: flex;
  justify-content:center;
  flex-direction:column;
 
  .paginate-links {
    list-style: none;
    display:block;
    margin: 50px auto;
    
    li {
      display:inline-block;
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: normal;
      color: #9d9d9d;
      cursor: pointer;
      padding:15px;

      &.active {
        color: #CBD736;
      }

      &.right-arrow, &.left-arrow {
        color: white;

        &.disabled {
          color: #3E3E3E;
        }
      }
    }
  }
  
  .list-container {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width:75%;
    margin: 0 auto;
  }
}

